


.equals, .clear{
    color: black;
    background-color: ivory;
    width: 50%;
    border-radius: 10px;
    font-size: 25px;
}

.calculator-display {
    /* width: 50%; */
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 30px;
    padding: 3px 10px;
    margin: 3px 10px;
}

.button-container {
    margin: 3px 10px;
}

.calculator-container {
    background-color: grey;
    width: 50%;
}